* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

section {
  width: 100%;
  height: 165vh;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #2f5cff, #dbf4ff);
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title .text {
  text-align: center;
}

.title .logo img {
  width: 300px;
  margin: 20px;
}
.container .team {
  display: flex;
  position: relative;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team .team-a,
.team-b {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}

.team .team-a select,
.team-b select {
  width: 260px;
  border: none;
  appearance: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #dbf4ff;
  color: #2f5cff;
  outline: none;
  margin: 10px;
  font-weight: 600;
  text-align: center;
}
.weight {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weight .urgent {
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.weight .urgent select {
  width: 100%;
  border: none;
  appearance: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #dbf4ff;
  font-weight: 500;
  text-align: center;
  color: #2f5cff;
  outline: none;
  margin-bottom: 10px;
}

.result {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.result h3 {
  color: #2f5cff;
}
.result div {
  margin: 10px;
  width: 300px;
  text-align: center;
}
