* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.nav .nama {
  padding: 10px 20px;
  color: #102c57;
  position: fixed;
  z-index: 1001;
  background-color: #fefaf6;
  width: 100%;
}

.nav .picit {
  padding: 10px 20px;
  color: #102c57;
  position: fixed;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  justify-content: end;
  align-items: end;
  float: right;
  width: 100%;
  margin-top: 10px;
}

.nav .picit span {
  padding: 1px 8px;
  background-color: #102c57;
  margin: 2px;
}

.navbar {
  display: none;
}

.navbar.active {
  transition: 0.5s ease-in-out;
  display: block;
  position: fixed;
  background-color: #fefaf6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  padding-top: 50px;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  color: #102c57;
  width: 100%;
  text-align: center;
}

.navbar a:hover {
  background-color: #102c57;
  color: #fefaf6;
  transition: 0.5s ease-in-out;
}

.home {
  width: 100%;
  background-color: #fefaf6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.home .tulisan {
  font-size: 180%;
  padding: 20px;
  color: aliceblue;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .tulisan h1 {
  color: #102c57;
  text-align: center;
}

.home .tulisan p {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #102c57;
  text-align: center;
}

.home .tulisan .contact {
  text-decoration: none;
  padding: 10px 20px;
  color: #102c57;
  display: flex;
  flex-wrap: wrap;
}

.home .tulisan .contact a {
  color: #102c57;
  margin: 5px;
}

.profil {
  background-color: #fefaf6;
  padding: 40px 0 50px 0;
}
.profil .nama {
  width: 100%;
  text-align: center;
  color: #102c57;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 150%;
  margin-bottom: 30px;
}

.profil .contain {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  align-items: center;
  width: 100%;
  text-align: left;
  justify-content: center;
}
.profil img {
  height: 250px;
  border-radius: 100%;
  padding: 10px;
  margin-right: 15px;
}

.profil .isi {
  margin-left: 20px;
  width: 700px;
  font-size: 120%;
  text-align: left;
  padding: 0 20px;
  color: #102c57;
}

.profil .isi h1 {
  margin-bottom: 20px;
}

.profil .contain .isi p {
  font-size: 1rem;
  font-weight: 500;
  border-left: solid 1px black;
  background-color: whitesmoke;
  padding: 10px 20px;
}

.prestasi {
  background-color: #102c57;
  padding-bottom: 40px;
}
.prestasi .nama {
  text-align: center;
  padding: 40px;
  color: #fefaf6;
  font-size: 150%;
}

.prestasi .list {
  color: #fefaf6;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  align-items: center;
  justify-content: center;
}

.prestasi .list div {
  width: 280px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.prestasi .list div h2 {
  color: goldenrod;
}

.prestasi .list div span h2 {
  color: chocolate;
}
.prestasi .list img {
  height: 100px;
  width: 100px;
}

.prestasi .list p {
  font-weight: 500;
}

.skill {
  background-color: #fefaf6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  font-size: 150%;
}

.skill .judul {
  color: #102c57;
}

.skill .skillnya {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.skill .skillnya div {
  margin: 10px 20px;
  color: #102c57;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.skill .skillnya div img {
  height: 80px;
}
.skill .skillnya div p {
  font-size: 1rem;
}

.skill .skillnya div .titik {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: red;
}

.skill .skillnya div .exp {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.contacts h1 {
  color: #102c57;
  padding: 40px 0px;
  font-size: 200%;
}

.contacts form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.contacts form input,
textarea {
  width: 100%;
  padding: 10px 20px;
  border: #102c57 solid 1px;
  border-radius: 10px;
  margin: 20px;
  resize: none;
}

.contacts form textarea {
  height: 400px;
}
.contacts .h-captcha data-captcha {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contacts button {
  margin-top: 20px;
  width: 100px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  background-color: #102c57;
  cursor: pointer;
  color: #fefaf6;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.7rem;
  width: 100%;
  height: 40px;
  background-color: #102c57;
  color: #fefaf6;
  padding: 10px;
}

.footer p {
  text-align: center;
}
