* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.nav .nama {
  padding: 10px 20px;
  color: #102c57;
  position: fixed;
  z-index: 1001;
  background-color: #fefaf6;
  width: 100%;
}

.nav .picit {
  padding: 10px 20px;
  color: #102c57;
  position: fixed;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  justify-content: end;
  align-items: end;
  float: right;
  width: 100%;
  margin-top: 10px;
}

.nav .picit span {
  padding: 1px 8px;
  background-color: #102c57;
  margin: 2px;
}

.navbar {
  display: none;
}

.navbar.active {
  transition: 0.5s ease-in-out;
  display: block;
  position: fixed;
  background-color: #fefaf6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  padding-top: 50px;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  color: #102c57;
  width: 100%;
  text-align: center;
}

.navbar a:hover {
  background-color: #102c57;
  color: #fefaf6;
  transition: 0.5s ease-in-out;
}

.home {
  width: 100%;
  background: url("home.png") center no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.home .tulisan {
  font-size: 180%;
  padding: 20px;
  color: aliceblue;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .tulisan h1 {
  color: #fefaf6;
  text-align: center;
}

.home .tulisan p {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fefaf6;
  text-align: center;
}

.home .tulisan a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #102c57;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.2rem;
}

.home .tulisan a:hover {
  background-color: white;
  color: #102c57;
  border: 1px bisque;
}
.profil {
  background-color: #fefaf6;
  padding: 40px 0 50px 0;
}
.profil .nama {
  width: 100%;
  text-align: center;
  color: #102c57;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 150%;
  margin-bottom: 30px;
}

.profil .contain {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  align-items: center;
  width: 100%;
  text-align: left;
  justify-content: center;
}
.profil img {
  height: 250px;
  border-radius: 100%;
  padding: 10px;
  margin-right: 15px;
}

.profil .isi {
  width: 700px;
  font-size: 120%;
  text-align: center;
  padding: 0 20px;
  color: #102c57;
}

.profil .isi h1 {
  margin-bottom: 20px;
}

.profil .contain .isi p {
  font-size: 1.1rem;
  font-weight: 500;
}

.prestasi {
  background-color: #102c57;
  padding-bottom: 40px;
}
.prestasi .nama {
  text-align: center;
  padding: 40px;
  color: #fefaf6;
  font-size: 150%;
}

.prestasi .list {
  color: #fefaf6;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  align-items: center;
  justify-content: center;
}

.prestasi .list div {
  width: 280px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.prestasi .list img {
  height: 100px;
  width: 100px;
}

.prestasi .list p {
  font-weight: 500;
}

.hobi {
  background-color: #fefaf6;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 600px;
  font-size: 150%;
}

.hobi .isi h1 {
  text-decoration: none;
  color: #102c57;
  padding: 30px;
  border-radius: 10px;
}

.hobi .isi a {
  text-decoration: none;
  color: #fefaf6;
  margin: 20px;
  border-radius: 10px;
  background-color: #102c57;
  padding: 15px 30px;
}

.hobi .isi a:hover {
  color: #102c57;
  background-color: #fefaf6;
  border: solid 2pt #102c57;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.7rem;
  width: 100%;
  height: 40px;
  background-color: #102c57;
  color: #fefaf6;
  padding: 10px;
}

.footer p {
  text-align: center;
}
